@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;800&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
  margin: 0;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
}

.site__header {
  padding: 23px 81px;
}

.site__title {
  max-width: 234px;
  height: 33px;
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #111517;
}

.site__text {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #111517;
  position: relative;
}
.site__text::before {
  content: "";
  width: 20px;
  height: 20px;
  top: 0;
  left: -24px;
  position: absolute;
  background-image: url(../../image/blabla.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.site__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .site__header {
    padding: 30px 16px;
  }
  .site__title {
    max-width: 180px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
  }
  .site__text {
    max-width: 84px;
    height: 17px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
  .site__text::before {
    width: 16px;
    height: 16px;
  }
}
.hero {
  background-color: #fafafa;
  height: 100vh;
  padding-top: 48px;
}

.hero__main-block {
  padding-bottom: 48px;
  padding-left: 30px;
  padding-right: 30px;
}

.hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  max-width: 480px;
  padding: 18px 37px;
  background: #fff;
}

.hero__image {
  width: 18px;
  height: 18px;
}

.hero__put {
  border: none;
  outline: none;
  width: 100%;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #848484;
}

.hero__sec {
  border: none;
  outline: none;
  padding: 18px 24px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #111517;
}

@media screen and (max-width: 600px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__block {
    padding: 18px 155px;
    margin-bottom: 40px;
  }
  .hero__sec {
    padding: 20px 40px;
    margin-left: -55%;
  }
}
@media screen and (max-width: 545px) {
  .hero__block {
    padding: 10px;
    margin-left: -6%;
    padding-right: 155px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 400px) {
  .hero__put {
    max-width: 158px;
  }
  .hero__block {
    padding: 10px;
    margin-left: -6%;
    padding-right: 155px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.choose__list {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 75px;
}

.choose {
  background-color: #fafafa;
  height: 100vh;
}

.choose__image {
  max-width: 264px;
  height: 160px;
}

.choose__item {
  background-color: #fff;
  max-width: 264px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.choose__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.726);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.726);
}

.choose__title {
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: #111517;
  margin-bottom: 20px;
}

.choose__text {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #7e7e7e;
  margin-bottom: 6.61px;
}

.choose__mix-block {
  padding: 20px 25px 46px 24px;
}

@media screen and (max-width: 1349px) {
  .choose__list {
    padding: 0 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 74px;
  }
}
@media screen and (max-width: 702px) {
  .choose__list {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */